# Help files
HELP.md

# Target directories
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle build directory
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
.vscode/

# Sistema operativo y archivos temporales
.DS_Store
Thumbs.db
*.swp
*.lock
*.log
*.tmp
*.bak
*.old

# Archivos de configuración sensibles
application.properties
application.yml
.env
.secret

# Archivos de configuración locales
local_settings.py

